<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-army-entity-heading" jhiTranslate="warMakerApp.armyEntity.home.createOrEditLabel">Create or edit a Army Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.armyEntity.foodReq" for="field_foodReq">Food Req</label>
                    <input type="number" class="form-control" name="foodReq" id="field_foodReq"
                           formControlName="foodReq"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.armyEntity.units" for="field_units">Units</label>
                    <select class="form-control" id="field_units" name="units" formControlName="units">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitsEntityOption.id === editForm.get('units')!.value?.id ? editForm.get('units')!.value : unitsEntityOption" *ngFor="let unitsEntityOption of units; trackBy: trackById">{{ unitsEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
