<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.armyEntity.home.title">Army Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-army-entity" [routerLink]="['/army-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.armyEntity.home.createLabel">
            Create a new Army Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="armyEntities?.length === 0">
        <span jhiTranslate="warMakerApp.armyEntity.home.notFound">No armyEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="armyEntities && armyEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.armyEntity.foodReq">Food Req</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.armyEntity.units">Units</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let armyEntity of armyEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/army-entity', armyEntity.id, 'view']">{{ armyEntity.id }}</a></td>
                    <td>{{ armyEntity.foodReq }}</td>
                    <td>
                        <div *ngIf="armyEntity.units">
                            <a [routerLink]="['/units-entity', armyEntity.units?.id, 'view']" >{{ armyEntity.units?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/army-entity', armyEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/army-entity', armyEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(armyEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
