<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="armyEntity">
            <h2><span jhiTranslate="warMakerApp.armyEntity.detail.title">Army Entity</span> {{ armyEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.armyEntity.foodReq">Food Req</span></dt>
                <dd>
                    <span>{{ armyEntity.foodReq }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.armyEntity.units">Units</span></dt>
                <dd>
                    <div *ngIf="armyEntity.units">
                        <a [routerLink]="['/units-entity', armyEntity.units?.id, 'view']">{{ armyEntity.units?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/army-entity', armyEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
