<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.landEntity.home.title">Land Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-land-entity" [routerLink]="['/land-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.landEntity.home.createLabel">
            Create a new Land Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="landEntities?.length === 0">
        <span jhiTranslate="warMakerApp.landEntity.home.notFound">No landEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="landEntities && landEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.landEntity.road">Road</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.landEntity.scoutTower">Scout Tower</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.landEntity.fortress">Fortress</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.landEntity.army">Army</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.landEntity.location">Location</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.landEntity.owner">Owner</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let landEntity of landEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/land-entity', landEntity.id, 'view']">{{ landEntity.id }}</a></td>
                    <td>{{ landEntity.road }}</td>
                    <td>{{ landEntity.scoutTower }}</td>
                    <td>
                        <div *ngIf="landEntity.fortress">
                            <a [routerLink]="['/fortress-entity', landEntity.fortress?.id, 'view']" >{{ landEntity.fortress?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="landEntity.army">
                            <a [routerLink]="['/army-entity', landEntity.army?.id, 'view']" >{{ landEntity.army?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="landEntity.location">
                            <a [routerLink]="['/field-entity', landEntity.location?.id, 'view']" >{{ landEntity.location?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="landEntity.owner">
                            <a [routerLink]="['/profile-entity', landEntity.owner?.id, 'view']" >{{ landEntity.owner?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/land-entity', landEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/land-entity', landEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(landEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
