<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-land-entity-heading" jhiTranslate="warMakerApp.landEntity.home.createOrEditLabel">Create or edit a Land Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.landEntity.road" for="field_road">Road</label>
                    <input type="number" class="form-control" name="road" id="field_road"
                           formControlName="road"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.landEntity.scoutTower" for="field_scoutTower">Scout Tower</label>
                    <input type="number" class="form-control" name="scoutTower" id="field_scoutTower"
                           formControlName="scoutTower"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.landEntity.fortress" for="field_fortress">Fortress</label>
                    <select class="form-control" id="field_fortress" name="fortress" formControlName="fortress">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fortressEntityOption.id === editForm.get('fortress')!.value?.id ? editForm.get('fortress')!.value : fortressEntityOption" *ngFor="let fortressEntityOption of fortresses; trackBy: trackById">{{ fortressEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.landEntity.army" for="field_army">Army</label>
                    <select class="form-control" id="field_army" name="army" formControlName="army">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="armyEntityOption.id === editForm.get('army')!.value?.id ? editForm.get('army')!.value : armyEntityOption" *ngFor="let armyEntityOption of armies; trackBy: trackById">{{ armyEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.landEntity.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="fieldEntityOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : fieldEntityOption" *ngFor="let fieldEntityOption of locations; trackBy: trackById">{{ fieldEntityOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.landEntity.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" formControlName="owner">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileEntityOption.id === editForm.get('owner')!.value?.id ? editForm.get('owner')!.value : profileEntityOption" *ngFor="let profileEntityOption of profileentities; trackBy: trackById">{{ profileEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
