<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="landEntity">
            <h2><span jhiTranslate="warMakerApp.landEntity.detail.title">Land Entity</span> {{ landEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.landEntity.road">Road</span></dt>
                <dd>
                    <span>{{ landEntity.road }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.landEntity.scoutTower">Scout Tower</span></dt>
                <dd>
                    <span>{{ landEntity.scoutTower }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.landEntity.fortress">Fortress</span></dt>
                <dd>
                    <div *ngIf="landEntity.fortress">
                        <a [routerLink]="['/fortress-entity', landEntity.fortress?.id, 'view']">{{ landEntity.fortress?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.landEntity.army">Army</span></dt>
                <dd>
                    <div *ngIf="landEntity.army">
                        <a [routerLink]="['/army-entity', landEntity.army?.id, 'view']">{{ landEntity.army?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.landEntity.location">Location</span></dt>
                <dd>
                    <div *ngIf="landEntity.location">
                        <a [routerLink]="['/field-entity', landEntity.location?.id, 'view']">{{ landEntity.location?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.landEntity.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="landEntity.owner">
                        <a [routerLink]="['/profile-entity', landEntity.owner?.id, 'view']">{{ landEntity.owner?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/land-entity', landEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
