<div class="row">
    <div class="col-2">
        <img [src]="unit.imageSrc" [height]="90" class="card-img" />
    </div>
    <div class="col-10">
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <h6>{{ unit.displayedName }}</h6>
                </div>
                <div class="d-flex">
                    <div class="mr-2">
                        <img
                            [src]="'./content/images/units/position/rally-the-troops.svg'"
                            alt="Units in army"
                            title="Units in army"
                            height="20px"
                        />
                        <small> {{ unit.availableUnitsCount }} </small>
                    </div>
                    <div class="mr-2">
                        <img
                            [src]="'./content/images/units/position/military-fort.svg'"
                            alt="Units in city"
                            title="Units in city"
                            height="20px"
                        />
                        <small>{{ unit.stationedUnitsCount }} </small>
                    </div>
                    <div>
                        <img
                            [src]="'./content/images/units/position/journey.svg'"
                            alt="Units in the field"
                            title="Units in the field"
                            height="20px"
                        />
                        <small>{{ unit.fieldedUnitsCount }} </small>
                    </div>
                </div>
            </div>
            <span>
                <img [src]="resourcesImagePaths.denars" alt="Denars" title="Denars" height="20px" />
                {{ numberOfRecruitedUnits * unit.cost.denars }}
            </span>
            <span>
                <img [src]="resourcesImagePaths.wood" alt="Wood" title="Wood" height="20px" />
                {{ numberOfRecruitedUnits * unit.cost.wood }}
            </span>
            <span>
                <img [src]="resourcesImagePaths.stone" alt="Stone" title="Stone" height="20px" />
                {{ numberOfRecruitedUnits * unit.cost.stone }}
            </span>
            <span>
                <img [src]="resourcesImagePaths.steel" alt="Steel" title="Steel" height="20px" />
                {{ numberOfRecruitedUnits * unit.cost.steel }}
            </span>
            <span>
                <img [src]="resourcesImagePaths.food" alt="Food" title="Food" height="20px" />
                {{ numberOfRecruitedUnits * unit.cost.food }}
            </span>
            <span>
                <img [src]="resourcesImagePaths.faith" alt="Faith" title="Faith" height="20px" />
                {{ numberOfRecruitedUnits * unit.cost.faith }}
            </span>
        </div>
        <div class="row" id="input-line" *ngIf="maxUnits">
            <div class="col-8">
                <ng5-slider [(value)]="numberOfRecruitedUnits" [options]="maxUnits" (userChangeEnd)="sliderChanged()"></ng5-slider>
            </div>
            <div class="col-2">
                <input type="number" [(ngModel)]="numberOfRecruitedUnits" class="form-control" min="0" aria-label="Number of units"/>
            </div>
            <div class="col-2">
                <button class="btn btn-outline-danger" (click)="recruit()">Recruit</button>
            </div>
        </div>
    </div>
</div>
