<div *ngIf="userDataService.chosenCity" class="card border-dark">
    <div class="card-body">
        <p class="font-weight-bold">City Id: {{ userDataService.chosenCity.id }}</p>
        <p class="font-weight-bold">Player Id: {{ userDataService.profileId }}</p>
    </div>
</div>
