<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-city-entity-heading" jhiTranslate="warMakerApp.cityEntity.home.createOrEditLabel">Create or edit a City Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityEntity.cityName" for="field_cityName">City Name</label>
                    <input type="text" class="form-control" name="cityName" id="field_cityName"
                           formControlName="cityName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityEntity.cityType" for="field_cityType">City Type</label>
                    <select class="form-control" name="cityType" formControlName="cityType" id="field_cityType">
                        <option value="PLAYER">{{ 'warMakerApp.CityType.PLAYER' | translate }}</option>
                        <option value="RENEGATES">{{ 'warMakerApp.CityType.RENEGATES' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityEntity.recruitmentModifier" for="field_recruitmentModifier">Recruitment Modifier</label>
                    <input type="number" class="form-control" name="recruitmentModifier" id="field_recruitmentModifier"
                           formControlName="recruitmentModifier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityEntity.buildSpeedModifier" for="field_buildSpeedModifier">Build Speed Modifier</label>
                    <input type="number" class="form-control" name="buildSpeedModifier" id="field_buildSpeedModifier"
                           formControlName="buildSpeedModifier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityEntity.army" for="field_army">Army</label>
                    <select class="form-control" id="field_army" name="army" formControlName="army">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="armyEntityOption.id === editForm.get('army')!.value?.id ? editForm.get('army')!.value : armyEntityOption" *ngFor="let armyEntityOption of armies; trackBy: trackById">{{ armyEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityEntity.buildings" for="field_buildings">Buildings</label>
                    <select class="form-control" id="field_buildings" name="buildings" formControlName="buildings">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityBuildingsEntityOption.id === editForm.get('buildings')!.value?.id ? editForm.get('buildings')!.value : cityBuildingsEntityOption" *ngFor="let cityBuildingsEntityOption of buildings; trackBy: trackById">{{ cityBuildingsEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityEntity.storedResources" for="field_storedResources">Stored Resources</label>
                    <select class="form-control" id="field_storedResources" name="storedResources" formControlName="storedResources">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resourcesEntityOption.id === editForm.get('storedResources')!.value?.id ? editForm.get('storedResources')!.value : resourcesEntityOption" *ngFor="let resourcesEntityOption of storedresources; trackBy: trackById">{{ resourcesEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityEntity.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="fieldEntityOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : fieldEntityOption" *ngFor="let fieldEntityOption of locations; trackBy: trackById">{{ fieldEntityOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityEntity.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" formControlName="owner">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileEntityOption.id === editForm.get('owner')!.value?.id ? editForm.get('owner')!.value : profileEntityOption" *ngFor="let profileEntityOption of profileentities; trackBy: trackById">{{ profileEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
