<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cityEntity">
            <h2><span jhiTranslate="warMakerApp.cityEntity.detail.title">City Entity</span> {{ cityEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.cityEntity.cityName">City Name</span></dt>
                <dd>
                    <span>{{ cityEntity.cityName }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityEntity.cityType">City Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'warMakerApp.CityType.' + cityEntity.cityType }}">{{ cityEntity.cityType }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityEntity.recruitmentModifier">Recruitment Modifier</span></dt>
                <dd>
                    <span>{{ cityEntity.recruitmentModifier }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityEntity.buildSpeedModifier">Build Speed Modifier</span></dt>
                <dd>
                    <span>{{ cityEntity.buildSpeedModifier }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityEntity.army">Army</span></dt>
                <dd>
                    <div *ngIf="cityEntity.army">
                        <a [routerLink]="['/army-entity', cityEntity.army?.id, 'view']">{{ cityEntity.army?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityEntity.buildings">Buildings</span></dt>
                <dd>
                    <div *ngIf="cityEntity.buildings">
                        <a [routerLink]="['/city-buildings-entity', cityEntity.buildings?.id, 'view']">{{ cityEntity.buildings?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityEntity.storedResources">Stored Resources</span></dt>
                <dd>
                    <div *ngIf="cityEntity.storedResources">
                        <a [routerLink]="['/resources-entity', cityEntity.storedResources?.id, 'view']">{{ cityEntity.storedResources?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityEntity.location">Location</span></dt>
                <dd>
                    <div *ngIf="cityEntity.location">
                        <a [routerLink]="['/field-entity', cityEntity.location?.id, 'view']">{{ cityEntity.location?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityEntity.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="cityEntity.owner">
                        <a [routerLink]="['/profile-entity', cityEntity.owner?.id, 'view']">{{ cityEntity.owner?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/city-entity', cityEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
