<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.cityEntity.home.title">City Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-city-entity" [routerLink]="['/city-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.cityEntity.home.createLabel">
            Create a new City Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cityEntities?.length === 0">
        <span jhiTranslate="warMakerApp.cityEntity.home.notFound">No cityEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cityEntities && cityEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityEntity.cityName">City Name</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityEntity.cityType">City Type</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityEntity.recruitmentModifier">Recruitment Modifier</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityEntity.buildSpeedModifier">Build Speed Modifier</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityEntity.army">Army</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityEntity.buildings">Buildings</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityEntity.storedResources">Stored Resources</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityEntity.location">Location</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityEntity.owner">Owner</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cityEntity of cityEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/city-entity', cityEntity.id, 'view']">{{ cityEntity.id }}</a></td>
                    <td>{{ cityEntity.cityName }}</td>
                    <td jhiTranslate="{{ 'warMakerApp.CityType.' + cityEntity.cityType }}">{{ cityEntity.cityType }}</td>
                    <td>{{ cityEntity.recruitmentModifier }}</td>
                    <td>{{ cityEntity.buildSpeedModifier }}</td>
                    <td>
                        <div *ngIf="cityEntity.army">
                            <a [routerLink]="['/army-entity', cityEntity.army?.id, 'view']" >{{ cityEntity.army?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cityEntity.buildings">
                            <a [routerLink]="['/city-buildings-entity', cityEntity.buildings?.id, 'view']" >{{ cityEntity.buildings?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cityEntity.storedResources">
                            <a [routerLink]="['/resources-entity', cityEntity.storedResources?.id, 'view']" >{{ cityEntity.storedResources?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cityEntity.location">
                            <a [routerLink]="['/field-entity', cityEntity.location?.id, 'view']" >{{ cityEntity.location?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cityEntity.owner">
                            <a [routerLink]="['/profile-entity', cityEntity.owner?.id, 'view']" >{{ cityEntity.owner?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/city-entity', cityEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/city-entity', cityEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cityEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
