<div class="card-body">
    <h5 class="card-title">City</h5>
    <div class="d-flex align-items-center p-2 mb-2" style="background-color: #d4edda; border-color: #c3e6cb;" *ngIf="upgradeBuildingCommands && upgradeBuildingCommands[0]">
        <div class="mr-5">
            <fa-icon icon="hammer" size="3x"></fa-icon>
        </div>
        <div>
            <div class="d-flex align-items-center">
                <h5>Upgrading Building: {{ upgradeBuildingCommands[0].type }}</h5>
                <p> {{ upgradeBuildingCommands[0].executionTime | zonedDateTimeFormatter }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let event of (upgradeBuildingCommands | slice: 1)">
            <div class="alert alert-success">
                <div class="row">
                    <div class="col-3">
                        <fa-icon icon="hammer" size="1x"></fa-icon>
                    </div>
                    <div class="col-9">
                        <small jhiTranslate="warMaker.main.events.upgrading">Upgrading</small> <br>
                        <small jhiTranslate="warMaker.city.buildings.{{event.type}}">{{ event.type }}</small>
                    </div>
                </div>
                <small>{{ event.executionTime | zonedDateTimeFormatter}}</small>
            </div>
        </div>
    </div>
</div>
