<div class="pt-1">
    <div class="row">
        <div class="card col-4" style="width: 18rem;">
            <war-city-events></war-city-events>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">War Maker</h5>
                <div *ngFor="let event of profileEvents">
                    <div *ngIf="event.type === eventType.WAR_PARTY_JOURNEY && event.command === 'ATTACK'">
                        <div class="alert alert-danger" role="alert">
                            <div class="row">
                                <div class="col-2">
                                    <fa-icon icon="fist-raised" size="3x"></fa-icon>
                                </div>
                                <div class="col-10">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5> Attacking:</h5>
                                        <small> Next stop: [{{event.nextStop.x}}] [{{event.nextStop.y}}]
                                            {{event.nextStopArrivalTime}}</small>
                                    </div>
                                    War Party [{{event.warPartyId}}] is attacking field:
                                    [{{event.movePath[event.movePath.length-1].x}}]
                                    [{{event.movePath[event.movePath.length-1].y}}]
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        *ngIf="event.type === eventType.WAR_PARTY_JOURNEY && event.command === 'GARRISON' && !event.returning">
                        <div class=" alert alert-info" role="alert">
                            <div class="row">
                                <div class="col-2">
                                    <fa-icon icon="shield-alt" size="3x"></fa-icon>
                                </div>
                                <div class="col-10">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5> Garrisoning:</h5>
                                        <small> Next stop: [{{event.nextStop.x}}] [{{event.nextStop.y}}]
                                            {{event.nextStopArrivalTime}}</small>
                                    </div>
                                    War Party [{{event.warPartyId}}] is garrisoning field:
                                    [{{event.movePath[event.movePath.length-1].x}}]
                                    [{{event.movePath[event.movePath.length-1].y}}]
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="event.type === eventType.WAR_PARTY_JOURNEY && event.returning">
                        <div class="alert alert-warning" role="alert">
                            <div class="row">
                                <div class="col-2">
                                    <fa-icon icon="archway" size="3x"></fa-icon>
                                </div>
                                <div class="col-10">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5> Returning:</h5>
                                        <small> Next stop: [{{event.nextStop.x}}] [{{event.nextStop.y}}]
                                            {{event.nextStopArrivalTime}}</small>
                                    </div>
                                    War Party [{{event.warPartyId}}] is returning to:
                                    [{{event.movePath[event.movePath.length-1].x}}]
                                    [{{event.movePath[event.movePath.length-1].y}}]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-4">
            <war-army-events></war-army-events>
        </div>
    </div>