<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-city-buildings-entity-heading" jhiTranslate="warMakerApp.cityBuildingsEntity.home.createOrEditLabel">Create or edit a City Buildings Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.cityHall" for="field_cityHall">City Hall</label>
                    <input type="number" class="form-control" name="cityHall" id="field_cityHall"
                           formControlName="cityHall"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.barracks" for="field_barracks">Barracks</label>
                    <input type="number" class="form-control" name="barracks" id="field_barracks"
                           formControlName="barracks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.wall" for="field_wall">Wall</label>
                    <input type="number" class="form-control" name="wall" id="field_wall"
                           formControlName="wall"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.goldMine" for="field_goldMine">Gold Mine</label>
                    <input type="number" class="form-control" name="goldMine" id="field_goldMine"
                           formControlName="goldMine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.sawMill" for="field_sawMill">Saw Mill</label>
                    <input type="number" class="form-control" name="sawMill" id="field_sawMill"
                           formControlName="sawMill"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.oreMine" for="field_oreMine">Ore Mine</label>
                    <input type="number" class="form-control" name="oreMine" id="field_oreMine"
                           formControlName="oreMine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.ironworks" for="field_ironworks">Ironworks</label>
                    <input type="number" class="form-control" name="ironworks" id="field_ironworks"
                           formControlName="ironworks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.tradingPost" for="field_tradingPost">Trading Post</label>
                    <input type="number" class="form-control" name="tradingPost" id="field_tradingPost"
                           formControlName="tradingPost"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.chapel" for="field_chapel">Chapel</label>
                    <input type="number" class="form-control" name="chapel" id="field_chapel"
                           formControlName="chapel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.university" for="field_university">University</label>
                    <input type="number" class="form-control" name="university" id="field_university"
                           formControlName="university"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.cityBuildingsEntity.forge" for="field_forge">Forge</label>
                    <input type="number" class="form-control" name="forge" id="field_forge"
                           formControlName="forge"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
