<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.cityBuildingsEntity.home.title">City Buildings Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-city-buildings-entity" [routerLink]="['/city-buildings-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.cityBuildingsEntity.home.createLabel">
            Create a new City Buildings Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cityBuildingsEntities?.length === 0">
        <span jhiTranslate="warMakerApp.cityBuildingsEntity.home.notFound">No cityBuildingsEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cityBuildingsEntities && cityBuildingsEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.cityHall">City Hall</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.barracks">Barracks</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.wall">Wall</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.goldMine">Gold Mine</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.sawMill">Saw Mill</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.oreMine">Ore Mine</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.ironworks">Ironworks</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.tradingPost">Trading Post</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.chapel">Chapel</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.university">University</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.cityBuildingsEntity.forge">Forge</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cityBuildingsEntity of cityBuildingsEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/city-buildings-entity', cityBuildingsEntity.id, 'view']">{{ cityBuildingsEntity.id }}</a></td>
                    <td>{{ cityBuildingsEntity.cityHall }}</td>
                    <td>{{ cityBuildingsEntity.barracks }}</td>
                    <td>{{ cityBuildingsEntity.wall }}</td>
                    <td>{{ cityBuildingsEntity.goldMine }}</td>
                    <td>{{ cityBuildingsEntity.sawMill }}</td>
                    <td>{{ cityBuildingsEntity.oreMine }}</td>
                    <td>{{ cityBuildingsEntity.ironworks }}</td>
                    <td>{{ cityBuildingsEntity.tradingPost }}</td>
                    <td>{{ cityBuildingsEntity.chapel }}</td>
                    <td>{{ cityBuildingsEntity.university }}</td>
                    <td>{{ cityBuildingsEntity.forge }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/city-buildings-entity', cityBuildingsEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/city-buildings-entity', cityBuildingsEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cityBuildingsEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
