<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cityBuildingsEntity">
            <h2><span jhiTranslate="warMakerApp.cityBuildingsEntity.detail.title">City Buildings Entity</span> {{ cityBuildingsEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.cityHall">City Hall</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.cityHall }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.barracks">Barracks</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.barracks }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.wall">Wall</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.wall }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.goldMine">Gold Mine</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.goldMine }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.sawMill">Saw Mill</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.sawMill }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.oreMine">Ore Mine</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.oreMine }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.ironworks">Ironworks</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.ironworks }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.tradingPost">Trading Post</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.tradingPost }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.chapel">Chapel</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.chapel }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.university">University</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.university }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.cityBuildingsEntity.forge">Forge</span></dt>
                <dd>
                    <span>{{ cityBuildingsEntity.forge }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/city-buildings-entity', cityBuildingsEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
