<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="worldEntity">
            <h2><span jhiTranslate="warMakerApp.worldEntity.detail.title">World Entity</span> {{ worldEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.worldEntity.worldName">World Name</span></dt>
                <dd>
                    <span>{{ worldEntity.worldName }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.worldEntity.worldNumber">World Number</span></dt>
                <dd>
                    <span>{{ worldEntity.worldNumber }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.worldEntity.height">Height</span></dt>
                <dd>
                    <span>{{ worldEntity.height }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.worldEntity.width">Width</span></dt>
                <dd>
                    <span>{{ worldEntity.width }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/world-entity', worldEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
