<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.worldEntity.home.title">World Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-world-entity" [routerLink]="['/world-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.worldEntity.home.createLabel">
            Create a new World Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="worldEntities?.length === 0">
        <span jhiTranslate="warMakerApp.worldEntity.home.notFound">No worldEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="worldEntities && worldEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.worldEntity.worldName">World Name</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.worldEntity.worldNumber">World Number</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.worldEntity.height">Height</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.worldEntity.width">Width</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let worldEntity of worldEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/world-entity', worldEntity.id, 'view']">{{ worldEntity.id }}</a></td>
                    <td>{{ worldEntity.worldName }}</td>
                    <td>{{ worldEntity.worldNumber }}</td>
                    <td>{{ worldEntity.height }}</td>
                    <td>{{ worldEntity.width }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/world-entity', worldEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/world-entity', worldEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(worldEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
