<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="unitsEntity">
            <h2><span jhiTranslate="warMakerApp.unitsEntity.detail.title">Units Entity</span> {{ unitsEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.unitsEntity.spearmen">Spearmen</span></dt>
                <dd>
                    <span>{{ unitsEntity.spearmen }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.unitsEntity.swordsmen">Swordsmen</span></dt>
                <dd>
                    <span>{{ unitsEntity.swordsmen }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.unitsEntity.archers">Archers</span></dt>
                <dd>
                    <span>{{ unitsEntity.archers }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.unitsEntity.crossbowmen">Crossbowmen</span></dt>
                <dd>
                    <span>{{ unitsEntity.crossbowmen }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/units-entity', unitsEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
