<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.unitsEntity.home.title">Units Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-units-entity" [routerLink]="['/units-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.unitsEntity.home.createLabel">
            Create a new Units Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="unitsEntities?.length === 0">
        <span jhiTranslate="warMakerApp.unitsEntity.home.notFound">No unitsEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="unitsEntities && unitsEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.unitsEntity.spearmen">Spearmen</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.unitsEntity.swordsmen">Swordsmen</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.unitsEntity.archers">Archers</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.unitsEntity.crossbowmen">Crossbowmen</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let unitsEntity of unitsEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/units-entity', unitsEntity.id, 'view']">{{ unitsEntity.id }}</a></td>
                    <td>{{ unitsEntity.spearmen }}</td>
                    <td>{{ unitsEntity.swordsmen }}</td>
                    <td>{{ unitsEntity.archers }}</td>
                    <td>{{ unitsEntity.crossbowmen }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/units-entity', unitsEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/units-entity', unitsEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(unitsEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
