<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-units-entity-heading" jhiTranslate="warMakerApp.unitsEntity.home.createOrEditLabel">Create or edit a Units Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.unitsEntity.spearmen" for="field_spearmen">Spearmen</label>
                    <input type="number" class="form-control" name="spearmen" id="field_spearmen"
                           formControlName="spearmen"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.unitsEntity.swordsmen" for="field_swordsmen">Swordsmen</label>
                    <input type="number" class="form-control" name="swordsmen" id="field_swordsmen"
                           formControlName="swordsmen"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.unitsEntity.archers" for="field_archers">Archers</label>
                    <input type="number" class="form-control" name="archers" id="field_archers"
                           formControlName="archers"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.unitsEntity.crossbowmen" for="field_crossbowmen">Crossbowmen</label>
                    <input type="number" class="form-control" name="crossbowmen" id="field_crossbowmen"
                           formControlName="crossbowmen"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
