<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.lairEntity.home.title">Lair Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lair-entity" [routerLink]="['/lair-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.lairEntity.home.createLabel">
            Create a new Lair Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="lairEntities?.length === 0">
        <span jhiTranslate="warMakerApp.lairEntity.home.notFound">No lairEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="lairEntities && lairEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.lairEntity.lairName">Lair Name</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.lairEntity.treasure">Treasure</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.lairEntity.garrison">Garrison</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.lairEntity.location">Location</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lairEntity of lairEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/lair-entity', lairEntity.id, 'view']">{{ lairEntity.id }}</a></td>
                    <td>{{ lairEntity.lairName }}</td>
                    <td>
                        <div *ngIf="lairEntity.treasure">
                            <a [routerLink]="['/resources-entity', lairEntity.treasure?.id, 'view']" >{{ lairEntity.treasure?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="lairEntity.garrison">
                            <a [routerLink]="['/war-party-entity', lairEntity.garrison?.id, 'view']" >{{ lairEntity.garrison?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="lairEntity.location">
                            <a [routerLink]="['/field-entity', lairEntity.location?.id, 'view']" >{{ lairEntity.location?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/lair-entity', lairEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/lair-entity', lairEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(lairEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
