<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lair-entity-heading" jhiTranslate="warMakerApp.lairEntity.home.createOrEditLabel">Create or edit a Lair Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.lairEntity.lairName" for="field_lairName">Lair Name</label>
                    <input type="text" class="form-control" name="lairName" id="field_lairName"
                           formControlName="lairName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.lairEntity.treasure" for="field_treasure">Treasure</label>
                    <select class="form-control" id="field_treasure" name="treasure" formControlName="treasure">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resourcesEntityOption.id === editForm.get('treasure')!.value?.id ? editForm.get('treasure')!.value : resourcesEntityOption" *ngFor="let resourcesEntityOption of treasures; trackBy: trackById">{{ resourcesEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.lairEntity.garrison" for="field_garrison">Garrison</label>
                    <select class="form-control" id="field_garrison" name="garrison" formControlName="garrison">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="warPartyEntityOption.id === editForm.get('garrison')!.value?.id ? editForm.get('garrison')!.value : warPartyEntityOption" *ngFor="let warPartyEntityOption of garrisons; trackBy: trackById">{{ warPartyEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.lairEntity.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="fieldEntityOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : fieldEntityOption" *ngFor="let fieldEntityOption of locations; trackBy: trackById">{{ fieldEntityOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
