<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lairEntity">
            <h2><span jhiTranslate="warMakerApp.lairEntity.detail.title">Lair Entity</span> {{ lairEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.lairEntity.lairName">Lair Name</span></dt>
                <dd>
                    <span>{{ lairEntity.lairName }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.lairEntity.treasure">Treasure</span></dt>
                <dd>
                    <div *ngIf="lairEntity.treasure">
                        <a [routerLink]="['/resources-entity', lairEntity.treasure?.id, 'view']">{{ lairEntity.treasure?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.lairEntity.garrison">Garrison</span></dt>
                <dd>
                    <div *ngIf="lairEntity.garrison">
                        <a [routerLink]="['/war-party-entity', lairEntity.garrison?.id, 'view']">{{ lairEntity.garrison?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.lairEntity.location">Location</span></dt>
                <dd>
                    <div *ngIf="lairEntity.location">
                        <a [routerLink]="['/field-entity', lairEntity.location?.id, 'view']">{{ lairEntity.location?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lair-entity', lairEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
