<div class="modal-header">
    <h4 class="modal-title">Attack with:</h4>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngFor="let warParty of worldMapDataProviderService.warPartiesForSelectedField" class="sending-list">
        <war-units-sending-list
            [warParty]="warParty"
            (warPartySend)="moveWarParty($event)"
        ></war-units-sending-list>
    </div>
</div>
<div class="container"></div>
<div class="modal-footer">
    <div class="container">
        <button
            type="button"
            class="btn btn-outline-dark"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            Create War Party
        </button>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
            <war-war-party-creator></war-war-party-creator>
        </div>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">
        Cancel
    </button>
</div>
