<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.profileEntity.home.title">Profile Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile-entity" [routerLink]="['/profile-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.profileEntity.home.createLabel">
            Create a new Profile Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="profileEntities?.length === 0">
        <span jhiTranslate="warMakerApp.profileEntity.home.notFound">No profileEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profileEntities && profileEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.profileEntity.accountName">Account Name</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.profileEntity.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.profileEntity.researchTimeModifier">Research Time Modifier</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.profileEntity.researches">Researches</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.profileEntity.alignment">Alignment</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.profileEntity.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.profileEntity.worldEntity">World Entity</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profileEntity of profileEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/profile-entity', profileEntity.id, 'view']">{{ profileEntity.id }}</a></td>
                    <td>{{ profileEntity.accountName }}</td>
                    <td>{{ profileEntity.email }}</td>
                    <td>{{ profileEntity.researchTimeModifier }}</td>
                    <td>
                        <div *ngIf="profileEntity.researches">
                            <a [routerLink]="['/researches-entity', profileEntity.researches?.id, 'view']" >{{ profileEntity.researches?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="profileEntity.alignment">
                            <a [routerLink]="['/alliance-entity', profileEntity.alignment?.id, 'view']" >{{ profileEntity.alignment?.id }}</a>
                        </div>
                    </td>
                    <td>
                        {{ profileEntity.user?.id }}
                    </td>
                    <td>
                        <div *ngIf="profileEntity.worldEntity">
                            <a [routerLink]="['/world-entity', profileEntity.worldEntity?.id, 'view']" >{{ profileEntity.worldEntity?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profile-entity', profileEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profile-entity', profileEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profileEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
