<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-profile-entity-heading" jhiTranslate="warMakerApp.profileEntity.home.createOrEditLabel">Create or edit a Profile Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.profileEntity.accountName" for="field_accountName">Account Name</label>
                    <input type="text" class="form-control" name="accountName" id="field_accountName"
                           formControlName="accountName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.profileEntity.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.profileEntity.researchTimeModifier" for="field_researchTimeModifier">Research Time Modifier</label>
                    <input type="number" class="form-control" name="researchTimeModifier" id="field_researchTimeModifier"
                           formControlName="researchTimeModifier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.profileEntity.researches" for="field_researches">Researches</label>
                    <select class="form-control" id="field_researches" name="researches" formControlName="researches">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="researchesEntityOption.id === editForm.get('researches')!.value?.id ? editForm.get('researches')!.value : researchesEntityOption" *ngFor="let researchesEntityOption of researches; trackBy: trackById">{{ researchesEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.profileEntity.alignment" for="field_alignment">Alignment</label>
                    <select class="form-control" id="field_alignment" name="alignment" formControlName="alignment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="allianceEntityOption.id === editForm.get('alignment')!.value?.id ? editForm.get('alignment')!.value : allianceEntityOption" *ngFor="let allianceEntityOption of alignments; trackBy: trackById">{{ allianceEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.profileEntity.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('user')!.invalid && (editForm.get('user')!.dirty || editForm.get('user')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('user')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.profileEntity.worldEntity" for="field_worldEntity">World Entity</label>
                    <select class="form-control" id="field_worldEntity" name="worldEntity" formControlName="worldEntity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="worldEntityOption.id === editForm.get('worldEntity')!.value?.id ? editForm.get('worldEntity')!.value : worldEntityOption" *ngFor="let worldEntityOption of worldentities; trackBy: trackById">{{ worldEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
