<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profileEntity">
            <h2><span jhiTranslate="warMakerApp.profileEntity.detail.title">Profile Entity</span> {{ profileEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.profileEntity.accountName">Account Name</span></dt>
                <dd>
                    <span>{{ profileEntity.accountName }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.profileEntity.email">Email</span></dt>
                <dd>
                    <span>{{ profileEntity.email }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.profileEntity.researchTimeModifier">Research Time Modifier</span></dt>
                <dd>
                    <span>{{ profileEntity.researchTimeModifier }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.profileEntity.researches">Researches</span></dt>
                <dd>
                    <div *ngIf="profileEntity.researches">
                        <a [routerLink]="['/researches-entity', profileEntity.researches?.id, 'view']">{{ profileEntity.researches?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.profileEntity.alignment">Alignment</span></dt>
                <dd>
                    <div *ngIf="profileEntity.alignment">
                        <a [routerLink]="['/alliance-entity', profileEntity.alignment?.id, 'view']">{{ profileEntity.alignment?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.profileEntity.user">User</span></dt>
                <dd>
                    {{ profileEntity.user?.id }}
                </dd>
                <dt><span jhiTranslate="warMakerApp.profileEntity.worldEntity">World Entity</span></dt>
                <dd>
                    <div *ngIf="profileEntity.worldEntity">
                        <a [routerLink]="['/world-entity', profileEntity.worldEntity?.id, 'view']">{{ profileEntity.worldEntity?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile-entity', profileEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
