<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="heroEntity">
            <h2><span jhiTranslate="warMakerApp.heroEntity.detail.title">Hero Entity</span> {{ heroEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.heroEntity.name">Name</span></dt>
                <dd>
                    <span>{{ heroEntity.name }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.heroEntity.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'warMakerApp.HeroType.' + heroEntity.type }}">{{ heroEntity.type }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.heroEntity.level">Level</span></dt>
                <dd>
                    <span>{{ heroEntity.level }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.heroEntity.supportedWarParty">Supported War Party</span></dt>
                <dd>
                    <div *ngIf="heroEntity.supportedWarParty">
                        <a [routerLink]="['/war-party-entity', heroEntity.supportedWarParty?.id, 'view']">{{ heroEntity.supportedWarParty?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.heroEntity.supportedCity">Supported City</span></dt>
                <dd>
                    <div *ngIf="heroEntity.supportedCity">
                        <a [routerLink]="['/city-entity', heroEntity.supportedCity?.id, 'view']">{{ heroEntity.supportedCity?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.heroEntity.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="heroEntity.owner">
                        <a [routerLink]="['/profile-entity', heroEntity.owner?.id, 'view']">{{ heroEntity.owner?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hero-entity', heroEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
