<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.heroEntity.home.title">Hero Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hero-entity" [routerLink]="['/hero-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.heroEntity.home.createLabel">
            Create a new Hero Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="heroEntities?.length === 0">
        <span jhiTranslate="warMakerApp.heroEntity.home.notFound">No heroEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="heroEntities && heroEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.heroEntity.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.heroEntity.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.heroEntity.level">Level</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.heroEntity.supportedWarParty">Supported War Party</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.heroEntity.supportedCity">Supported City</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.heroEntity.owner">Owner</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let heroEntity of heroEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/hero-entity', heroEntity.id, 'view']">{{ heroEntity.id }}</a></td>
                    <td>{{ heroEntity.name }}</td>
                    <td jhiTranslate="{{ 'warMakerApp.HeroType.' + heroEntity.type }}">{{ heroEntity.type }}</td>
                    <td>{{ heroEntity.level }}</td>
                    <td>
                        <div *ngIf="heroEntity.supportedWarParty">
                            <a [routerLink]="['/war-party-entity', heroEntity.supportedWarParty?.id, 'view']" >{{ heroEntity.supportedWarParty?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="heroEntity.supportedCity">
                            <a [routerLink]="['/city-entity', heroEntity.supportedCity?.id, 'view']" >{{ heroEntity.supportedCity?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="heroEntity.owner">
                            <a [routerLink]="['/profile-entity', heroEntity.owner?.id, 'view']" >{{ heroEntity.owner?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/hero-entity', heroEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/hero-entity', heroEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(heroEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
