<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-hero-entity-heading" jhiTranslate="warMakerApp.heroEntity.home.createOrEditLabel">Create or edit a Hero Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.heroEntity.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.heroEntity.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="WARRIOR">{{ 'warMakerApp.HeroType.WARRIOR' | translate }}</option>
                        <option value="SPY">{{ 'warMakerApp.HeroType.SPY' | translate }}</option>
                        <option value="MERCHANT">{{ 'warMakerApp.HeroType.MERCHANT' | translate }}</option>
                        <option value="CLERIC">{{ 'warMakerApp.HeroType.CLERIC' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.heroEntity.level" for="field_level">Level</label>
                    <input type="number" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.heroEntity.supportedWarParty" for="field_supportedWarParty">Supported War Party</label>
                    <select class="form-control" id="field_supportedWarParty" name="supportedWarParty" formControlName="supportedWarParty">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="warPartyEntityOption.id === editForm.get('supportedWarParty')!.value?.id ? editForm.get('supportedWarParty')!.value : warPartyEntityOption" *ngFor="let warPartyEntityOption of supportedwarparties; trackBy: trackById">{{ warPartyEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.heroEntity.supportedCity" for="field_supportedCity">Supported City</label>
                    <select class="form-control" id="field_supportedCity" name="supportedCity" formControlName="supportedCity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityEntityOption.id === editForm.get('supportedCity')!.value?.id ? editForm.get('supportedCity')!.value : cityEntityOption" *ngFor="let cityEntityOption of supportedcities; trackBy: trackById">{{ cityEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.heroEntity.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" formControlName="owner">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileEntityOption.id === editForm.get('owner')!.value?.id ? editForm.get('owner')!.value : profileEntityOption" *ngFor="let profileEntityOption of profileentities; trackBy: trackById">{{ profileEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
