<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fieldEntity">
            <h2><span jhiTranslate="warMakerApp.fieldEntity.detail.title">Field Entity</span> {{ fieldEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.fieldEntity.xCoordinate">X Coordinate</span></dt>
                <dd>
                    <span>{{ fieldEntity.xCoordinate }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.fieldEntity.yCoordinate">Y Coordinate</span></dt>
                <dd>
                    <span>{{ fieldEntity.yCoordinate }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.fieldEntity.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'warMakerApp.FieldType.' + fieldEntity.type }}">{{ fieldEntity.type }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.fieldEntity.worldEntity">World Entity</span></dt>
                <dd>
                    <div *ngIf="fieldEntity.worldEntity">
                        <a [routerLink]="['/world-entity', fieldEntity.worldEntity?.id, 'view']">{{ fieldEntity.worldEntity?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/field-entity', fieldEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
