<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-field-entity-heading" jhiTranslate="warMakerApp.fieldEntity.home.createOrEditLabel">Create or edit a Field Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.fieldEntity.xCoordinate" for="field_xCoordinate">X Coordinate</label>
                    <input type="number" class="form-control" name="xCoordinate" id="field_xCoordinate"
                           formControlName="xCoordinate"/>
                    <div *ngIf="editForm.get('xCoordinate')!.invalid && (editForm.get('xCoordinate')!.dirty || editForm.get('xCoordinate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('xCoordinate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('xCoordinate')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.fieldEntity.yCoordinate" for="field_yCoordinate">Y Coordinate</label>
                    <input type="number" class="form-control" name="yCoordinate" id="field_yCoordinate"
                           formControlName="yCoordinate"/>
                    <div *ngIf="editForm.get('yCoordinate')!.invalid && (editForm.get('yCoordinate')!.dirty || editForm.get('yCoordinate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('yCoordinate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('yCoordinate')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.fieldEntity.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="LAIR">{{ 'warMakerApp.FieldType.LAIR' | translate }}</option>
                        <option value="POINT_OF_INTEREST">{{ 'warMakerApp.FieldType.POINT_OF_INTEREST' | translate }}</option>
                        <option value="CITY">{{ 'warMakerApp.FieldType.CITY' | translate }}</option>
                        <option value="LAND">{{ 'warMakerApp.FieldType.LAND' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.fieldEntity.worldEntity" for="field_worldEntity">World Entity</label>
                    <select class="form-control" id="field_worldEntity" name="worldEntity" formControlName="worldEntity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="worldEntityOption.id === editForm.get('worldEntity')!.value?.id ? editForm.get('worldEntity')!.value : worldEntityOption" *ngFor="let worldEntityOption of worldentities; trackBy: trackById">{{ worldEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
