<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.fieldEntity.home.title">Field Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-field-entity" [routerLink]="['/field-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.fieldEntity.home.createLabel">
            Create a new Field Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fieldEntities?.length === 0">
        <span jhiTranslate="warMakerApp.fieldEntity.home.notFound">No fieldEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fieldEntities && fieldEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.fieldEntity.xCoordinate">X Coordinate</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.fieldEntity.yCoordinate">Y Coordinate</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.fieldEntity.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.fieldEntity.worldEntity">World Entity</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fieldEntity of fieldEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/field-entity', fieldEntity.id, 'view']">{{ fieldEntity.id }}</a></td>
                    <td>{{ fieldEntity.xCoordinate }}</td>
                    <td>{{ fieldEntity.yCoordinate }}</td>
                    <td jhiTranslate="{{ 'warMakerApp.FieldType.' + fieldEntity.type }}">{{ fieldEntity.type }}</td>
                    <td>
                        <div *ngIf="fieldEntity.worldEntity">
                            <a [routerLink]="['/world-entity', fieldEntity.worldEntity?.id, 'view']" >{{ fieldEntity.worldEntity?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/field-entity', fieldEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/field-entity', fieldEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fieldEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
