<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-1" *ngIf="accountService.userIdentity">
            <div class="mt-4" >
                <war-player-info></war-player-info>
            </div>
            <div class="list-group mt-2">
                <a class="list-group-item list-group-item-action" routerLink="/">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
                <a class="list-group-item list-group-item-action" routerLink="/message-box">
                    <span>
                        <fa-icon icon="envelope"></fa-icon>
                        <span jhiTranslate="warMaker.navbar.envelope">Message Box</span>
                    </span>
                </a>
                <a class="list-group-item list-group-item-action" routerLink="/army">
                    <span>
                        <fa-icon [icon]="'khanda'"></fa-icon>
                        <span jhiTranslate="warMaker.navbar.army">Army</span>
                    </span>
                </a>
                <a class="list-group-item list-group-item-action" routerLink="/university">
                    <span>
                        <fa-icon [icon]="'university'"></fa-icon>
                        <span jhiTranslate="warMaker.navbar.university">University</span>
                    </span>
                </a>
                <a class="list-group-item list-group-item-action" routerLink="/world-map">
                    <span>
                        <fa-icon [icon]="'globe'"></fa-icon>
                        <span jhiTranslate="warMaker.navbar.worldMap">World Map</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-11">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
    </div>
    <jhi-footer></jhi-footer>
</div>
