<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.playerRelations.home.title">Player Relations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-player-relations" [routerLink]="['/player-relations/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.playerRelations.home.createLabel">
            Create a new Player Relations
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="playerRelations?.length === 0">
        <span jhiTranslate="warMakerApp.playerRelations.home.notFound">No playerRelations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="playerRelations && playerRelations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.playerRelations.relation">Relation</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.playerRelations.targetPlayer">Target Player</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.playerRelations.owner">Owner</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let playerRelations of playerRelations ;trackBy: trackId">
                    <td><a [routerLink]="['/player-relations', playerRelations.id, 'view']">{{ playerRelations.id }}</a></td>
                    <td jhiTranslate="{{ 'warMakerApp.RelationType.' + playerRelations.relation }}">{{ playerRelations.relation }}</td>
                    <td>
                        <div *ngIf="playerRelations.targetPlayer">
                            <a [routerLink]="['/profile-entity', playerRelations.targetPlayer?.id, 'view']" >{{ playerRelations.targetPlayer?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="playerRelations.owner">
                            <a [routerLink]="['/profile-entity', playerRelations.owner?.id, 'view']" >{{ playerRelations.owner?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/player-relations', playerRelations.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/player-relations', playerRelations.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(playerRelations)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
