<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="playerRelations">
            <h2><span jhiTranslate="warMakerApp.playerRelations.detail.title">Player Relations</span> {{ playerRelations.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.playerRelations.relation">Relation</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'warMakerApp.RelationType.' + playerRelations.relation }}">{{ playerRelations.relation }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.playerRelations.targetPlayer">Target Player</span></dt>
                <dd>
                    <div *ngIf="playerRelations.targetPlayer">
                        <a [routerLink]="['/profile-entity', playerRelations.targetPlayer?.id, 'view']">{{ playerRelations.targetPlayer?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.playerRelations.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="playerRelations.owner">
                        <a [routerLink]="['/profile-entity', playerRelations.owner?.id, 'view']">{{ playerRelations.owner?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player-relations', playerRelations.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
