<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-player-relations-heading" jhiTranslate="warMakerApp.playerRelations.home.createOrEditLabel">Create or edit a Player Relations</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.playerRelations.relation" for="field_relation">Relation</label>
                    <select class="form-control" name="relation" formControlName="relation" id="field_relation">
                        <option value="ENEMY">{{ 'warMakerApp.RelationType.ENEMY' | translate }}</option>
                        <option value="ALLY">{{ 'warMakerApp.RelationType.ALLY' | translate }}</option>
                        <option value="NEUTRAL">{{ 'warMakerApp.RelationType.NEUTRAL' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.playerRelations.targetPlayer" for="field_targetPlayer">Target Player</label>
                    <select class="form-control" id="field_targetPlayer" name="targetPlayer" formControlName="targetPlayer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileEntityOption.id === editForm.get('targetPlayer')!.value?.id ? editForm.get('targetPlayer')!.value : profileEntityOption" *ngFor="let profileEntityOption of profileentities; trackBy: trackById">{{ profileEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.playerRelations.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" formControlName="owner">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileEntityOption.id === editForm.get('owner')!.value?.id ? editForm.get('owner')!.value : profileEntityOption" *ngFor="let profileEntityOption of profileentities; trackBy: trackById">{{ profileEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
