<jhi-alert></jhi-alert>
<div class="p-4" *ngIf="cityId && currentArmy">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>Units</a>
            <ng-template ngbNavContent>
                <div class="d-flex pr-4 pl-4 w-100">
                    <div class="w-50">
                        <div *ngFor="let unit of infantryUnits" class="p-2 card m-1">
                            <war-unit-preview [unit]="unit" [cityId]="cityId"> </war-unit-preview>
                        </div>
                    </div>
                    <div class="w-50">
                        <div *ngFor="let unit of rangedUnits" class="p-2 card m-1">
                            <war-unit-preview [unit]="unit" [cityId]="cityId"> </war-unit-preview>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="p-3 card text-center">
                        <div class="mb-2">
                            <span>
                                <img [src]="resourcesImagePaths.denars" alt="Denars" title="Denars" height="40px" />
                                {{ unitsRecruitmentCalculatorService.usedResources.denars | number: '1.0-0' }} /
                                {{ (unitsRecruitmentCalculatorService.availableResources | async)?.denars | number:
                                '1.0-0'}}
                            </span>
                            <span>
                                <img [src]="resourcesImagePaths.wood" alt="Wood" title="Wood" height="40px" />
                                {{ unitsRecruitmentCalculatorService.usedResources.wood | number: '1.0-0' }} /
                                {{ (unitsRecruitmentCalculatorService.availableResources | async)?.wood | number: '1.0-0' }}
                            </span>
                            <span>
                                <img [src]="resourcesImagePaths.stone" alt="Stone" title="Stone" height="40px" />
                                {{ unitsRecruitmentCalculatorService.usedResources.stone | number: '1.0-0' }} /
                                {{ (unitsRecruitmentCalculatorService.availableResources | async)?.stone | number: '1.0-0'
                                }}
                            </span>
                            <span>
                                <img [src]="resourcesImagePaths.steel" alt="Steel" title="Steel" height="40px" />
                                {{ unitsRecruitmentCalculatorService.usedResources.steel | number: '1.0-0' }} /
                                {{ (unitsRecruitmentCalculatorService.availableResources | async)?.steel | number: '1.0-0'
                                }}
                            </span>
                            <span>
                                <img [src]="resourcesImagePaths.food" alt="Food" title="Food" height="40px" />
                                {{ unitsRecruitmentCalculatorService.usedResources.food | number: '1.0-0' }} /
                                {{ (unitsRecruitmentCalculatorService.availableResources | async)?.food | number: '1.0-0' }}
                            </span>
                            <span>
                                <img [src]="resourcesImagePaths.faith" alt="Faith" title="Faith" height="40px" />
                                {{ unitsRecruitmentCalculatorService.usedResources.faith | number: '1.0-0' }} /
                                {{ (unitsRecruitmentCalculatorService.availableResources | async)?.faith | number: '1.0-0'
                                }}
                            </span>
                        </div>
                        <div>
                            <button class="btn btn-outline-danger btn-lg btn-block">Recruit All</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>War Parties</a>
            <ng-template ngbNavContent>Second content</ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>

<!-- <button
        type="button"
        class="btn btn-secondary btn-block tag"
        triggers="manual"
        [ngbTooltip]="unitsRecruited"
        #t1="ngbTooltip"
        [autoClose]="true"
        (click)="recruit(t1)"
    >
        Recruit
    </button> -->