.font {
    text-align: center;
}

.resource-image {
    height: 60px;
}

.tile-border {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.resources-border {
    color: black;
    border-right-style: solid;
    border-right-width: 1px;
}