<div class="tile-border">
    <div class="row font">
        <div class="col-2 resources-border">
            <div class="row">
                <img
                    [src]="resourcesImagePaths.denars"
                    alt="Denars"
                    title="Denars"
                    class="col-6 resource-image"
                />
                <div class="lead col-6 align-self-center">
                    {{ resources?.storedResources.denars | number: '1.0-0' }}
                    <small class="d-flex justify-content-center">+{{ resources?.incomeRate.denarsIncome | secondsToHours | number: '1.0-0' }}</small>
                </div>
            </div>
        </div>
        <div class="col-2 resources-border">
            <div class="row">
                <img
                    [src]="resourcesImagePaths.wood"
                    alt="Wood"
                    title="Wood"
                    class="col-6 resource-image"
                />
                <div class="lead col-6 align-self-center">
                    <div class="lead">{{ resources?.storedResources.wood | number: '1.0-0' }}</div>
                    <small class="d-flex justify-content-center">+{{ resources?.incomeRate.woodIncome | secondsToHours | number: '1.0-0' }}</small>
                </div>
            </div>
        </div>
        <div class="col-2 resources-border">
            <div class="row">
                <img
                    [src]="resourcesImagePaths.stone"
                    class="col-6 resource-image"
                    alt="Stone"
                    title="Stone"
                />
                <div class="lead col-6 align-self-center">
                    <div class="lead">{{ resources?.storedResources.stone | number: '1.0-0' }}</div>
                    <small class="d-flex justify-content-center">+{{ resources?.incomeRate.stoneIncome | secondsToHours | number: '1.0-0' }}</small>
                </div>
            </div>
        </div>
        <div class="col-2 resources-border">
            <div class="row">
                <img
                    [src]="resourcesImagePaths.steel"
                    class="col-6 resource-image"
                    alt="Steel"
                    title="Steel"
                />
                <div class="lead col-6 align-self-center">
                    <div class="lead">{{ resources?.storedResources.steel | number: '1.0-0' }}</div>
                    <small class="d-flex justify-content-center">+{{ resources?.incomeRate.steelIncome | secondsToHours | number: '1.0-0' }}</small>
                </div>
            </div>
        </div>
        <div class="col-2 resources-border">
            <div class="row">
                <img
                    [src]="resourcesImagePaths.food"
                    class="col-6 resource-image"
                    alt="Food"
                    title="Food"
                />
                <div class="lead col-6 align-self-center">
                    <div class="lead">{{ resources?.storedResources.food | number: '1.0-0' }}</div>
                    <small class="d-flex justify-content-center">+{{ resources?.incomeRate.foodIncome | secondsToHours | number: '1.0-0'  }}</small>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <img
                    [src]="resourcesImagePaths.faith"
                    class="col-6 resource-image"
                    alt="Faith"
                    title="Faith"
                />
                <div class="lead col-6 align-self-center">
                    <div class="lead">{{ resources?.storedResources.faith | number: '1.0-0' }}</div>
                    <small class="d-flex justify-content-center">+{{ resources?.incomeRate.faithIncome | secondsToHours | number: '1.0-0' }}</small>
                </div>
            </div>
        </div>
    </div>
</div>