<div *ngIf="city" class="container-fluid border-bottom">
    <jhi-alert></jhi-alert>
    <div>
        <war-resources-view class="col-10" [cityId]="city.id"></war-resources-view>
        <war-buildings-view [cityId]="city.id">
        </war-buildings-view>
    </div>
</div>
