<div class="list-group-item list-group-item-action flex-column align-items-start" (click)="isCollapsed = !isCollapsed">
    <div class="d-flex justify-content-between">
        <h5 class="mb-1">
            Battle between player {{ message.attackerId }} and player
            <war-player-info-display [battleMessage]="message"></war-player-info-display>
        </h5>
        <small>{{ message.battleTime | zonedDateTimeFormatter }}</small>
        <fa-icon *ngIf="isCollapsed" icon="chevron-down"></fa-icon>
        <fa-icon *ngIf="!isCollapsed" icon="chevron-up"></fa-icon>
    </div>
</div>
<div [ngbCollapse]="isCollapsed">
    <div class="card">
        <div class="card-body">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Spearman</th>
                        <th scope="col">Swordsman</th>
                        <th scope="col">Archers</th>
                        <th scope="col">Crossbowman</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Attacker</th>
                        <td>{{ message.attackerLoses.spearman }}</td>
                        <td>{{ message.attackerLoses.swordsman }}</td>
                        <td>{{ message.attackerLoses.archers }}</td>
                        <td>{{ message.attackerLoses.crossbowman }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Defender</th>
                        <td>{{ message.defenderLoses.spearman }}</td>
                        <td>{{ message.defenderLoses.swordsman }}</td>
                        <td>{{ message.defenderLoses.archers }}</td>
                        <td>{{ message.defenderLoses.crossbowman }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
