<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.warPartyEntity.home.title">War Party Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-war-party-entity" [routerLink]="['/war-party-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.warPartyEntity.home.createLabel">
            Create a new War Party Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="warPartyEntities?.length === 0">
        <span jhiTranslate="warMakerApp.warPartyEntity.home.notFound">No warPartyEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="warPartyEntities && warPartyEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.warPartyEntity.speed">Speed</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.warPartyEntity.capacity">Capacity</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.warPartyEntity.state">State</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.warPartyEntity.resourcesCarried">Resources Carried</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.warPartyEntity.units">Units</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.warPartyEntity.position">Position</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.warPartyEntity.armyEntity">Army Entity</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let warPartyEntity of warPartyEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/war-party-entity', warPartyEntity.id, 'view']">{{ warPartyEntity.id }}</a></td>
                    <td>{{ warPartyEntity.speed }}</td>
                    <td>{{ warPartyEntity.capacity }}</td>
                    <td jhiTranslate="{{ 'warMakerApp.WarPartyState.' + warPartyEntity.state }}">{{ warPartyEntity.state }}</td>
                    <td>
                        <div *ngIf="warPartyEntity.resourcesCarried">
                            <a [routerLink]="['/resources-entity', warPartyEntity.resourcesCarried?.id, 'view']" >{{ warPartyEntity.resourcesCarried?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="warPartyEntity.units">
                            <a [routerLink]="['/units-entity', warPartyEntity.units?.id, 'view']" >{{ warPartyEntity.units?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="warPartyEntity.position">
                            <a [routerLink]="['/field-entity', warPartyEntity.position?.id, 'view']" >{{ warPartyEntity.position?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="warPartyEntity.armyEntity">
                            <a [routerLink]="['/army-entity', warPartyEntity.armyEntity?.id, 'view']" >{{ warPartyEntity.armyEntity?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/war-party-entity', warPartyEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/war-party-entity', warPartyEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(warPartyEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
