<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="warPartyEntity">
            <h2><span jhiTranslate="warMakerApp.warPartyEntity.detail.title">War Party Entity</span> {{ warPartyEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.warPartyEntity.speed">Speed</span></dt>
                <dd>
                    <span>{{ warPartyEntity.speed }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.warPartyEntity.capacity">Capacity</span></dt>
                <dd>
                    <span>{{ warPartyEntity.capacity }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.warPartyEntity.state">State</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'warMakerApp.WarPartyState.' + warPartyEntity.state }}">{{ warPartyEntity.state }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.warPartyEntity.resourcesCarried">Resources Carried</span></dt>
                <dd>
                    <div *ngIf="warPartyEntity.resourcesCarried">
                        <a [routerLink]="['/resources-entity', warPartyEntity.resourcesCarried?.id, 'view']">{{ warPartyEntity.resourcesCarried?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.warPartyEntity.units">Units</span></dt>
                <dd>
                    <div *ngIf="warPartyEntity.units">
                        <a [routerLink]="['/units-entity', warPartyEntity.units?.id, 'view']">{{ warPartyEntity.units?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.warPartyEntity.position">Position</span></dt>
                <dd>
                    <div *ngIf="warPartyEntity.position">
                        <a [routerLink]="['/field-entity', warPartyEntity.position?.id, 'view']">{{ warPartyEntity.position?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.warPartyEntity.armyEntity">Army Entity</span></dt>
                <dd>
                    <div *ngIf="warPartyEntity.armyEntity">
                        <a [routerLink]="['/army-entity', warPartyEntity.armyEntity?.id, 'view']">{{ warPartyEntity.armyEntity?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/war-party-entity', warPartyEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
