<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-war-party-entity-heading" jhiTranslate="warMakerApp.warPartyEntity.home.createOrEditLabel">Create or edit a War Party Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.warPartyEntity.speed" for="field_speed">Speed</label>
                    <input type="number" class="form-control" name="speed" id="field_speed"
                           formControlName="speed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.warPartyEntity.capacity" for="field_capacity">Capacity</label>
                    <input type="number" class="form-control" name="capacity" id="field_capacity"
                           formControlName="capacity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.warPartyEntity.state" for="field_state">State</label>
                    <select class="form-control" name="state" formControlName="state" id="field_state">
                        <option value="MOVING">{{ 'warMakerApp.WarPartyState.MOVING' | translate }}</option>
                        <option value="STATIONED">{{ 'warMakerApp.WarPartyState.STATIONED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.warPartyEntity.resourcesCarried" for="field_resourcesCarried">Resources Carried</label>
                    <select class="form-control" id="field_resourcesCarried" name="resourcesCarried" formControlName="resourcesCarried">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resourcesEntityOption.id === editForm.get('resourcesCarried')!.value?.id ? editForm.get('resourcesCarried')!.value : resourcesEntityOption" *ngFor="let resourcesEntityOption of resourcescarrieds; trackBy: trackById">{{ resourcesEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.warPartyEntity.units" for="field_units">Units</label>
                    <select class="form-control" id="field_units" name="units" formControlName="units">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitsEntityOption.id === editForm.get('units')!.value?.id ? editForm.get('units')!.value : unitsEntityOption" *ngFor="let unitsEntityOption of units; trackBy: trackById">{{ unitsEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.warPartyEntity.position" for="field_position">Position</label>
                    <select class="form-control" id="field_position" name="position" formControlName="position">
                        <option *ngIf="!editForm.get('position')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="fieldEntityOption.id === editForm.get('position')!.value?.id ? editForm.get('position')!.value : fieldEntityOption" *ngFor="let fieldEntityOption of fieldentities; trackBy: trackById">{{ fieldEntityOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('position')!.invalid && (editForm.get('position')!.dirty || editForm.get('position')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('position')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.warPartyEntity.armyEntity" for="field_armyEntity">Army Entity</label>
                    <select class="form-control" id="field_armyEntity" name="armyEntity" formControlName="armyEntity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="armyEntityOption.id === editForm.get('armyEntity')!.value?.id ? editForm.get('armyEntity')!.value : armyEntityOption" *ngFor="let armyEntityOption of armyentities; trackBy: trackById">{{ armyEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
