<div id="menu-container" *ngIf="!worldMapDataProviderService.initializationPending">
    <ul class="list-group custom-menu" id="menu">
        <li *ngIf="userActions.getClickedField().fieldData.canAttack" class="list-group-item" (click)="attack()">
            <fa-icon icon="khanda"></fa-icon>&nbsp; Attack
        </li>
        <li *ngIf="userActions.getClickedField().fieldData.canDeclareWar" class="list-group-item" (click)="declareWar()">
            <fa-icon icon="khanda"></fa-icon>&nbsp; Declare War
        </li>
        <li class="list-group-item" (click)="garrison()">
            <fa-icon icon="shield-alt"></fa-icon>&nbsp; Garrison
        </li>
        <li class="list-group-item" (click)="select()">
            <fa-icon icon="hand-pointer"></fa-icon>&nbsp; Select
        </li>
    </ul>
</div>