#menu-container {
    display: none;
    position: absolute;
    overflow: hidden;
    border: 1px solid #ccc;
    white-space: nowrap;
    font-family: sans-serif;
    background: #fff;
    color: #333;
    border-radius: 5px;
}
