<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fortressEntity">
            <h2><span jhiTranslate="warMakerApp.fortressEntity.detail.title">Fortress Entity</span> {{ fortressEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.fortressEntity.fortressName">Fortress Name</span></dt>
                <dd>
                    <span>{{ fortressEntity.fortressName }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.fortressEntity.warBarracks">War Barracks</span></dt>
                <dd>
                    <span>{{ fortressEntity.warBarracks }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.fortressEntity.wall">Wall</span></dt>
                <dd>
                    <span>{{ fortressEntity.wall }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.fortressEntity.moat">Moat</span></dt>
                <dd>
                    <span>{{ fortressEntity.moat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fortress-entity', fortressEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
