<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fortress-entity-heading" jhiTranslate="warMakerApp.fortressEntity.home.createOrEditLabel">Create or edit a Fortress Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.fortressEntity.fortressName" for="field_fortressName">Fortress Name</label>
                    <input type="text" class="form-control" name="fortressName" id="field_fortressName"
                           formControlName="fortressName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.fortressEntity.warBarracks" for="field_warBarracks">War Barracks</label>
                    <input type="number" class="form-control" name="warBarracks" id="field_warBarracks"
                           formControlName="warBarracks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.fortressEntity.wall" for="field_wall">Wall</label>
                    <input type="number" class="form-control" name="wall" id="field_wall"
                           formControlName="wall"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.fortressEntity.moat" for="field_moat">Moat</label>
                    <input type="number" class="form-control" name="moat" id="field_moat"
                           formControlName="moat"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
