<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.fortressEntity.home.title">Fortress Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fortress-entity" [routerLink]="['/fortress-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.fortressEntity.home.createLabel">
            Create a new Fortress Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fortressEntities?.length === 0">
        <span jhiTranslate="warMakerApp.fortressEntity.home.notFound">No fortressEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fortressEntities && fortressEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.fortressEntity.fortressName">Fortress Name</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.fortressEntity.warBarracks">War Barracks</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.fortressEntity.wall">Wall</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.fortressEntity.moat">Moat</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fortressEntity of fortressEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/fortress-entity', fortressEntity.id, 'view']">{{ fortressEntity.id }}</a></td>
                    <td>{{ fortressEntity.fortressName }}</td>
                    <td>{{ fortressEntity.warBarracks }}</td>
                    <td>{{ fortressEntity.wall }}</td>
                    <td>{{ fortressEntity.moat }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fortress-entity', fortressEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fortress-entity', fortressEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fortressEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
