<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="clanEntity">
            <h2><span jhiTranslate="warMakerApp.clanEntity.detail.title">Clan Entity</span> {{ clanEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.clanEntity.name">Name</span></dt>
                <dd>
                    <span>{{ clanEntity.name }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.clanEntity.emblem">Emblem</span></dt>
                <dd>
                    <div *ngIf="clanEntity.emblem">
                        <a (click)="openFile(clanEntity.emblemContentType, clanEntity.emblem)" jhiTranslate="entity.action.open">open</a>
                        {{ clanEntity.emblemContentType }}, {{ byteSize(clanEntity.emblem) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.clanEntity.members">Members</span></dt>
                <dd>
                    <div *ngIf="clanEntity.members">
                        <a [routerLink]="['/profile-entity', clanEntity.members?.id, 'view']">{{ clanEntity.members?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/clan-entity', clanEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
