<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-clan-entity-heading" jhiTranslate="warMakerApp.clanEntity.home.createOrEditLabel">Create or edit a Clan Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.clanEntity.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.clanEntity.emblem" for="field_emblem">Emblem</label>
                    <div>
                        <div *ngIf="editForm.get('emblem')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('emblemContentType')!.value, editForm.get('emblem')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('emblemContentType')!.value }}, {{ byteSize(editForm.get('emblem')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({emblem: null});editForm.patchValue({emblemContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_emblem" (change)="setFileData($event, 'emblem', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="emblem" id="field_emblem"
                           formControlName="emblem"/>
                    <input type="hidden" class="form-control" name="emblemContentType" id="field_emblemContentType"
                           formControlName="emblemContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.clanEntity.members" for="field_members">Members</label>
                    <select class="form-control" id="field_members" name="members" formControlName="members">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileEntityOption.id === editForm.get('members')!.value?.id ? editForm.get('members')!.value : profileEntityOption" *ngFor="let profileEntityOption of members; trackBy: trackById">{{ profileEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
