<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.clanEntity.home.title">Clan Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-clan-entity" [routerLink]="['/clan-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.clanEntity.home.createLabel">
            Create a new Clan Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clanEntities?.length === 0">
        <span jhiTranslate="warMakerApp.clanEntity.home.notFound">No clanEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clanEntities && clanEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.clanEntity.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.clanEntity.emblem">Emblem</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.clanEntity.members">Members</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clanEntity of clanEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/clan-entity', clanEntity.id, 'view']">{{ clanEntity.id }}</a></td>
                    <td>{{ clanEntity.name }}</td>
                    <td>
                        <a *ngIf="clanEntity.emblem" (click)="openFile(clanEntity.emblemContentType, clanEntity.emblem)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="clanEntity.emblem">{{ clanEntity.emblemContentType }}, {{ byteSize(clanEntity.emblem) }}</span>
                    </td>
                    <td>
                        <div *ngIf="clanEntity.members">
                            <a [routerLink]="['/profile-entity', clanEntity.members?.id, 'view']" >{{ clanEntity.members?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/clan-entity', clanEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/clan-entity', clanEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(clanEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
