<div *ngIf="buildings">
    <div class="d-flex justify-content-center">
        <div>
            <war-building-tile
                [buildingDto]="buildings?.goldMine"
                [upgradeRequirementMet]="buildings.buildingsUpgradeRequirementMatched.canUpgradeGoldMine"
                buildingName="Gold Mine"
                [imageSrc]="'../../../../../content/images/goldmine.jpg'"
                (buildingUpgrade)="upgradeGoldMine(buildings?.goldMine)"
            >
            </war-building-tile>
        </div>
        <div>
            <war-building-tile
                [buildingDto]="buildings?.sawMill"
                [upgradeRequirementMet]="buildings.buildingsUpgradeRequirementMatched.canUpgradeSawmill"
                buildingName="Saw Mill"
                [imageSrc]="'../../../../../../content/images/saw-mil.jpg'"
                (buildingUpgrade)="upgradeSawMill(buildings?.sawMill)"
            >
            </war-building-tile>
        </div>
        <div>
            <war-building-tile
                [buildingDto]="buildings?.oreMine"
                [upgradeRequirementMet]="buildings.buildingsUpgradeRequirementMatched.canUpgradeOreMine"
                buildingName="Ore Mine"
                [imageSrc]="'../../../../../content/images/quarry.jpg'"
                (buildingUpgrade)="upgradeOreMine(buildings?.oreMine)"
            >
            </war-building-tile>
        </div>
        <div>
            <war-building-tile
                [buildingDto]="buildings?.ironworks"
                [upgradeRequirementMet]="buildings.buildingsUpgradeRequirementMatched.canUpgradeIronworks"
                buildingName="Ironworks"
                [imageSrc]="'../../../../../content/images/blacksmith.png'"
                (buildingUpgrade)="upgradeIronworks(buildings?.ironworks)"
            >
            </war-building-tile>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <div>
            <war-building-tile
                [buildingDto]="buildings?.cityHall"
                [upgradeRequirementMet]="buildings.buildingsUpgradeRequirementMatched.canUpgradeCityHall"
                buildingName="City Hall"
                [imageSrc]="'../../../../../content/images/town-hall.jpg'"
                (buildingUpgrade)="upgradeCityHall(buildings?.cityHall)"
            >
            </war-building-tile>
        </div>
        <div>
            <war-building-tile
                [buildingDto]="buildings?.barracks"
                [upgradeRequirementMet]="buildings.buildingsUpgradeRequirementMatched.canUpgradeBarracks"
                buildingName="Barracks"
                [imageSrc]="'../../../../../content/images/barracks.jpg'"
                [routerUrl]="'/army'"
                (buildingUpgrade)="upgradeBarracks(buildings?.barracks)"
            >
            </war-building-tile>
        </div>
        <div>
            <war-building-tile
                [buildingDto]="buildings?.university"
                [upgradeRequirementMet]="buildings.buildingsUpgradeRequirementMatched.canUpgradeUniversity"
                buildingName="University"
                [imageSrc]="'../../../../../content/images/university.jpg'"
                (buildingUpgrade)="upgradeUniversity(buildings?.university)"
            >
            </war-building-tile>
        </div>
        <div>
            <war-building-tile
                [buildingDto]="buildings?.forge"
                [upgradeRequirementMet]="buildings.buildingsUpgradeRequirementMatched.canUpgradeForge"
                buildingName="Forge"
                [imageSrc]="'../../../../../content/images/armoury.jpg'"
                (buildingUpgrade)="upgradeForge(buildings?.forge)"
            >
            </war-building-tile>
        </div>
    </div>
</div>
