<div class="d-inline-block">
    <div class="d-flex justify-content-center">
        <h4 (click)="isCollapsed = !isCollapsed" style="cursor: pointer">
            Id: {{ warParty.id }} Units: {{ unitsCount }}
        </h4>
    </div>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="d-flex justify-content-around">
            <div>
                <img [src]="unitsIcons.spearman" [height]="20"/>
                {{ warParty?.units?.spearmen }}
            </div>
            <div>
                <img [src]="unitsIcons.swordsman" [height]="20"/>
                {{ warParty?.units?.swordsmen }}
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <div>
                <img [src]="unitsIcons.archers" [height]="20"/>
                {{ warParty?.units?.archers }}
            </div>
            <div>
                <img [src]="unitsIcons.crossbowman" [height]="20"/>
                {{ warParty?.units?.crossbowmen }}
            </div>
        </div>
    </div>
</div>
