<jhi-alert></jhi-alert>
<div class="container-fluid p-4" *ngIf="userDataService.dataLoadedValue">
    <div class="floatable-image">
        <ng-template #unitsRecruited>Units recruited</ng-template>
        <img [src]="'../../../content/images/message-box/main.jpg'" height="432" class="card-img" />
    </div>
    <div class="list-group pt-1" *ngIf="playerMessages">
        <div *ngFor="let battleMessage of playerMessages.battleMessages">
            <war-battle-message-tile [message]="battleMessage"></war-battle-message-tile>
        </div>
        <div *ngFor="let warDeclarationMessage of playerMessages.attackingWarDeclarationMessages">
            <war-war-declaration-tile [message]="warDeclarationMessage"></war-war-declaration-tile>
        </div>
        <div *ngFor="let warDefendDeclarationMessage of playerMessages.defendingWarDeclarationMessages">
            <war-war-defending-tile [message]="warDefendDeclarationMessage"></war-war-defending-tile>
        </div>
    </div>
</div>