<div class="list-group-item list-group-item-action flex-column align-items-start" (click)="isCollapsed = !isCollapsed">
    <div class="d-flex justify-content-between">
        <h5 class="mb-1">
            Player {{message.attacker.playerId}} declared war on you!
        </h5>
        <small>{{ message.declarationTime | zonedDateTimeFormatter }}</small>
        <fa-icon *ngIf="isCollapsed" icon="chevron-down"></fa-icon>
        <fa-icon *ngIf="!isCollapsed" icon="chevron-up"></fa-icon>
    </div>
</div>
