<div class="card-body" *ngIf="armyEvents">
    <h5 class="card-title">Recruitment</h5>
    <div class="alert alert-success" *ngFor="let event of armyEvents">
        <div class="row">
            <div class="col-2">
                <fa-icon icon="dungeon" size="3x"></fa-icon>
            </div>
            <div class="col-10">
                <div class="d-flex w-100 justify-content-between">
                    <h5> Recruiting:</h5>
                    <small> Ends at: {{event.finishTime}}</small>
                </div>
                <ng-container *ngIf="event.recruitmentOrders.recruitSpearman.empty === false">
                    Spearman:
                    [{{ event.recruitmentOrders.recruitSpearman.timeSpendOnRecruiting 
                                                    / event.recruitmentOrders.recruitSpearman.timeToRecruitOneUnit | number:'1.0-0' }}
                    /
                    {{event.recruitmentOrders.recruitSpearman.numberOfUnitsToRecruit}}] <br>
                </ng-container>
                <ng-container *ngIf="event.recruitmentOrders.recruitSwordsman.empty === false">
                    Swordsman:
                    [{{ event.recruitmentOrders.recruitSwordsman.timeSpendOnRecruiting 
                                                    / event.recruitmentOrders.recruitSwordsman.timeToRecruitOneUnit | number:'1.0-0' }}
                    /
                    {{event.recruitmentOrders.recruitSwordsman.numberOfUnitsToRecruit}}] <br>
                </ng-container>
                <ng-container *ngIf="event.recruitmentOrders.recruitArchers.empty === false">
                    Archers:
                    [{{ event.recruitmentOrders.recruitArchers.timeSpendOnRecruiting 
                                                    / event.recruitmentOrders.recruitArchers.timeToRecruitOneUnit | number:'1.0-0' }}
                    /
                    {{event.recruitmentOrders.recruitArchers.numberOfUnitsToRecruit}}] <br>
                </ng-container>
                <ng-container *ngIf="event.recruitmentOrders.recruitCrossbowman.empty === false">
                    Crossbowman:
                    [{{ event.recruitmentOrders.recruitCrossbowman.timeSpendOnRecruiting 
                                                    / event.recruitmentOrders.recruitCrossbowman.timeToRecruitOneUnit | number:'1.0-0' }}
                    /
                    {{event.recruitmentOrders.recruitCrossbowman.numberOfUnitsToRecruit}}] <br>
                </ng-container>
            </div>
        </div>
    </div>
</div>