<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="researchesEntity">
            <h2><span jhiTranslate="warMakerApp.researchesEntity.detail.title">Researches Entity</span> {{ researchesEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.researchesEntity.infantryVitality">Infantry Vitality</span></dt>
                <dd>
                    <span>{{ researchesEntity.infantryVitality }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.cavalryVitality">Cavalry Vitality</span></dt>
                <dd>
                    <span>{{ researchesEntity.cavalryVitality }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.lightArmorValue">Light Armor Value</span></dt>
                <dd>
                    <span>{{ researchesEntity.lightArmorValue }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.heavyArmorValue">Heavy Armor Value</span></dt>
                <dd>
                    <span>{{ researchesEntity.heavyArmorValue }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.meleeAttack">Melee Attack</span></dt>
                <dd>
                    <span>{{ researchesEntity.meleeAttack }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.rangedAttack">Ranged Attack</span></dt>
                <dd>
                    <span>{{ researchesEntity.rangedAttack }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.infantrySpeed">Infantry Speed</span></dt>
                <dd>
                    <span>{{ researchesEntity.infantrySpeed }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.cavalrySpeed">Cavalry Speed</span></dt>
                <dd>
                    <span>{{ researchesEntity.cavalrySpeed }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.cityBuildingSpeed">City Building Speed</span></dt>
                <dd>
                    <span>{{ researchesEntity.cityBuildingSpeed }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.recruitmentSpeed">Recruitment Speed</span></dt>
                <dd>
                    <span>{{ researchesEntity.recruitmentSpeed }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.researchesEntity.scouting">Scouting</span></dt>
                <dd>
                    <span>{{ researchesEntity.scouting }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/researches-entity', researchesEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
