<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.researchesEntity.home.title">Researches Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-researches-entity" [routerLink]="['/researches-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.researchesEntity.home.createLabel">
            Create a new Researches Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="researchesEntities?.length === 0">
        <span jhiTranslate="warMakerApp.researchesEntity.home.notFound">No researchesEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="researchesEntities && researchesEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.infantryVitality">Infantry Vitality</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.cavalryVitality">Cavalry Vitality</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.lightArmorValue">Light Armor Value</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.heavyArmorValue">Heavy Armor Value</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.meleeAttack">Melee Attack</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.rangedAttack">Ranged Attack</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.infantrySpeed">Infantry Speed</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.cavalrySpeed">Cavalry Speed</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.cityBuildingSpeed">City Building Speed</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.recruitmentSpeed">Recruitment Speed</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.researchesEntity.scouting">Scouting</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let researchesEntity of researchesEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/researches-entity', researchesEntity.id, 'view']">{{ researchesEntity.id }}</a></td>
                    <td>{{ researchesEntity.infantryVitality }}</td>
                    <td>{{ researchesEntity.cavalryVitality }}</td>
                    <td>{{ researchesEntity.lightArmorValue }}</td>
                    <td>{{ researchesEntity.heavyArmorValue }}</td>
                    <td>{{ researchesEntity.meleeAttack }}</td>
                    <td>{{ researchesEntity.rangedAttack }}</td>
                    <td>{{ researchesEntity.infantrySpeed }}</td>
                    <td>{{ researchesEntity.cavalrySpeed }}</td>
                    <td>{{ researchesEntity.cityBuildingSpeed }}</td>
                    <td>{{ researchesEntity.recruitmentSpeed }}</td>
                    <td>{{ researchesEntity.scouting }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/researches-entity', researchesEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/researches-entity', researchesEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(researchesEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
