<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-researches-entity-heading" jhiTranslate="warMakerApp.researchesEntity.home.createOrEditLabel">Create or edit a Researches Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.infantryVitality" for="field_infantryVitality">Infantry Vitality</label>
                    <input type="number" class="form-control" name="infantryVitality" id="field_infantryVitality"
                           formControlName="infantryVitality"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.cavalryVitality" for="field_cavalryVitality">Cavalry Vitality</label>
                    <input type="number" class="form-control" name="cavalryVitality" id="field_cavalryVitality"
                           formControlName="cavalryVitality"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.lightArmorValue" for="field_lightArmorValue">Light Armor Value</label>
                    <input type="number" class="form-control" name="lightArmorValue" id="field_lightArmorValue"
                           formControlName="lightArmorValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.heavyArmorValue" for="field_heavyArmorValue">Heavy Armor Value</label>
                    <input type="number" class="form-control" name="heavyArmorValue" id="field_heavyArmorValue"
                           formControlName="heavyArmorValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.meleeAttack" for="field_meleeAttack">Melee Attack</label>
                    <input type="number" class="form-control" name="meleeAttack" id="field_meleeAttack"
                           formControlName="meleeAttack"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.rangedAttack" for="field_rangedAttack">Ranged Attack</label>
                    <input type="number" class="form-control" name="rangedAttack" id="field_rangedAttack"
                           formControlName="rangedAttack"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.infantrySpeed" for="field_infantrySpeed">Infantry Speed</label>
                    <input type="number" class="form-control" name="infantrySpeed" id="field_infantrySpeed"
                           formControlName="infantrySpeed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.cavalrySpeed" for="field_cavalrySpeed">Cavalry Speed</label>
                    <input type="number" class="form-control" name="cavalrySpeed" id="field_cavalrySpeed"
                           formControlName="cavalrySpeed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.cityBuildingSpeed" for="field_cityBuildingSpeed">City Building Speed</label>
                    <input type="number" class="form-control" name="cityBuildingSpeed" id="field_cityBuildingSpeed"
                           formControlName="cityBuildingSpeed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.recruitmentSpeed" for="field_recruitmentSpeed">Recruitment Speed</label>
                    <input type="number" class="form-control" name="recruitmentSpeed" id="field_recruitmentSpeed"
                           formControlName="recruitmentSpeed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.researchesEntity.scouting" for="field_scouting">Scouting</label>
                    <input type="number" class="form-control" name="scouting" id="field_scouting"
                           formControlName="scouting"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
