<jhi-alert></jhi-alert>
<div class="d-flex justify-content-center p-4" *ngIf="!requestPending">
    <div class="mr-4">
        <h4> Scouting: {{researches.scouting}} </h4> 
    </div>
    <button type="button" class="btn btn-outline-dark center" (click)="upgradeTechnology()">
        <i class="fa fa-plus"></i> Upgrade
    </button>
</div>