#war-party-info-menu, #scouted-field-menu {
    position: absolute;
}

#container {
    position: relative;
    overflow: hidden;
}

.custom-menu {
    background-color: white;
}

.custom-menu li {
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #def;
}
