<div id="container">
    <ng-container *ngIf="!worldMapDataProviderService.initializationPending"> 
        <war-world-map-action-menu></war-world-map-action-menu>
    </ng-container>
    <div class="list-group custom-menu" [id]="WAR_PARTY_INFO_MENU_COMPONENT_ID" *ngIf="!worldMapDataProviderService.initializationPending && worldMapDataProviderService.d3WorldMap.lazyInitializedComponents.d3WarPartyPositionDrawer">
        <div *ngFor="let warParty of userActions.warPartyHovered | async">
            <war-war-party-list [warParty]="warParty"></war-war-party-list>
        </div>
    </div>
    <div class="list-group custom-menu" [id]="SCOUTED_FIELD_MENU_COMPONENT_ID" *ngIf="!worldMapDataProviderService.initializationPending">
        <div *ngFor="let scoutedWarParty of userActions.scoutedFieldHovered | async">
            <div>{{scoutedWarParty}}</div>
        </div>
    </div>
    <svg id="worldMap"></svg>
</div>