button {
    border-radius: 0px;
}

.tile-border {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.container {
    position: relative;
}

.tag {
    float: left;
    position: absolute;
    left: 265px;
    top: 10px;
    z-index: 10;
    background-color: #76d275;
    padding: 10px;
    width: 3.5rem;
    color: #ffffff;
    border-radius: 5px;
}

.tag-left {
    float: left;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 10;
    background: rgba(204, 204, 204, 0.8);
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
}

.resource-image {
    height: 30px;
}

.list-group-item {
    padding: 0.5rem 0.75rem;
}

.building-disabled {
    opacity: 0.5;
}