<div class="tile-border m-1">
    <div class="container d-flex justify-content-center">
        <h5 class="tag-left text-center">
            <small >{{ buildingName }} {{ buildingDto?.building.level }}
                <span *ngIf="buildingDto?.building.level !==buildingDto?.building.level +
                    buildingDto?.building?.upgradingLevel">
                    <fa-icon icon="long-arrow-alt-up"></fa-icon>
                    {{ buildingDto?.building.level + buildingDto?.building?.upgradingLevel }}
                </span>
            </small>
        </h5>
        <a [routerLink]="routerUrl!" *ngIf="routerUrl">
            <img height="150" width="320" class="rounded" [src]="src" alt="Building"
                [ngClass]="{'building-disabled': !upgradeRequirementMet}" />
        </a>
        <img *ngIf="!routerUrl" height="150" width="320" class="rounded" [src]="src" alt="Building"
            [ngClass]="{'building-disabled': !upgradeRequirementMet}" />
    </div>
    <div class="btn-group d-flex mt-1" role="group">
        <div ngbDropdown placement="left" #myDrop="ngbDropdown" class="d-inline-block">
            <div class="btn btn-outline-dark center mr-1" aria-controls="showBuildCost" ngbDropdownToggle
                (mouseover)="myDrop.open()" (mouseleave)="myDrop.close()">
                Build Info <fa-icon icon="question-circle"></fa-icon>
            </div>
            <div ngbDropdownMenu>
                <div class="p-2">
                    <div>
                        Construction time: {{ buildingDto?.nextLevelBuildTime | secondsFormatter }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <img [src]="resourcesImagePaths.denars" alt="Denars" title="Denars"
                                class="resource-image" />
                            : {{ buildingDto?.upgradeCost?.denars ? buildingDto?.upgradeCost.denars : 0 }}
                        </li>
                        <li class="list-group-item">
                            <img [src]="resourcesImagePaths.wood" alt="Wood" title="Wood" class="resource-image" />
                            : {{ buildingDto?.upgradeCost?.wood ? buildingDto?.upgradeCost.wood : 0 }}
                        </li>
                        <li class="list-group-item">
                            <img [src]="resourcesImagePaths.stone" alt="Stone" title="Stone" class="resource-image" /> :
                            {{ buildingDto?.upgradeCost?.stone ? buildingDto?.upgradeCost.stone : 0 }}
                        </li>
                        <li class="list-group-item">
                            <img [src]="resourcesImagePaths.steel" alt="Steel" title="Steel" class="resource-image" /> :
                            {{ buildingDto?.upgradeCost?.steel ? buildingDto?.upgradeCost.steel : 0 }}
                        </li>
                        <li class="list-group-item">
                            <img [src]="resourcesImagePaths.faith" alt="Faith" title="Faith" class="resource-image" /> :
                            {{ buildingDto?.upgradeCost?.faith ? buildingDto?.upgradeCost.faith : 0 }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline-dark center" (click)="upgradeBuilding()"
            [disabled]="!upgradeRequirementMet">
            <i class="fa fa-plus"></i> Upgrade
        </button>
    </div>
</div>