<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resourcesEntity">
            <h2><span jhiTranslate="warMakerApp.resourcesEntity.detail.title">Resources Entity</span> {{ resourcesEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.resourcesEntity.denars">Denars</span></dt>
                <dd>
                    <span>{{ resourcesEntity.denars }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.resourcesEntity.wood">Wood</span></dt>
                <dd>
                    <span>{{ resourcesEntity.wood }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.resourcesEntity.stone">Stone</span></dt>
                <dd>
                    <span>{{ resourcesEntity.stone }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.resourcesEntity.steel">Steel</span></dt>
                <dd>
                    <span>{{ resourcesEntity.steel }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.resourcesEntity.food">Food</span></dt>
                <dd>
                    <span>{{ resourcesEntity.food }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.resourcesEntity.faith">Faith</span></dt>
                <dd>
                    <span>{{ resourcesEntity.faith }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.resourcesEntity.changeDate">Change Date</span></dt>
                <dd>
                    <span>{{ resourcesEntity.changeDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resources-entity', resourcesEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
