<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-resources-entity-heading" jhiTranslate="warMakerApp.resourcesEntity.home.createOrEditLabel">Create or edit a Resources Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.resourcesEntity.denars" for="field_denars">Denars</label>
                    <input type="number" class="form-control" name="denars" id="field_denars"
                           formControlName="denars"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.resourcesEntity.wood" for="field_wood">Wood</label>
                    <input type="number" class="form-control" name="wood" id="field_wood"
                           formControlName="wood"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.resourcesEntity.stone" for="field_stone">Stone</label>
                    <input type="number" class="form-control" name="stone" id="field_stone"
                           formControlName="stone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.resourcesEntity.steel" for="field_steel">Steel</label>
                    <input type="number" class="form-control" name="steel" id="field_steel"
                           formControlName="steel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.resourcesEntity.food" for="field_food">Food</label>
                    <input type="number" class="form-control" name="food" id="field_food"
                           formControlName="food"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.resourcesEntity.faith" for="field_faith">Faith</label>
                    <input type="number" class="form-control" name="faith" id="field_faith"
                           formControlName="faith"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.resourcesEntity.changeDate" for="field_changeDate">Change Date</label>
                    <div class="d-flex">
                        <input id="field_changeDate" type="datetime-local" class="form-control" name="changeDate" formControlName="changeDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
