<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.resourcesEntity.home.title">Resources Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resources-entity" [routerLink]="['/resources-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.resourcesEntity.home.createLabel">
            Create a new Resources Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="resourcesEntities?.length === 0">
        <span jhiTranslate="warMakerApp.resourcesEntity.home.notFound">No resourcesEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="resourcesEntities && resourcesEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.resourcesEntity.denars">Denars</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.resourcesEntity.wood">Wood</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.resourcesEntity.stone">Stone</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.resourcesEntity.steel">Steel</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.resourcesEntity.food">Food</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.resourcesEntity.faith">Faith</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.resourcesEntity.changeDate">Change Date</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resourcesEntity of resourcesEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/resources-entity', resourcesEntity.id, 'view']">{{ resourcesEntity.id }}</a></td>
                    <td>{{ resourcesEntity.denars }}</td>
                    <td>{{ resourcesEntity.wood }}</td>
                    <td>{{ resourcesEntity.stone }}</td>
                    <td>{{ resourcesEntity.steel }}</td>
                    <td>{{ resourcesEntity.food }}</td>
                    <td>{{ resourcesEntity.faith }}</td>
                    <td>{{ resourcesEntity.changeDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/resources-entity', resourcesEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/resources-entity', resourcesEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(resourcesEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
