<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-point-of-interest-entity-heading" jhiTranslate="warMakerApp.pointOfInterestEntity.home.createOrEditLabel">Create or edit a Point Of Interest Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.pointOfInterestEntity.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="RIVER_CROSSING">{{ 'warMakerApp.PointOfInterestType.RIVER_CROSSING' | translate }}</option>
                        <option value="FOREST">{{ 'warMakerApp.PointOfInterestType.FOREST' | translate }}</option>
                        <option value="DESERT">{{ 'warMakerApp.PointOfInterestType.DESERT' | translate }}</option>
                        <option value="RUINS">{{ 'warMakerApp.PointOfInterestType.RUINS' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.pointOfInterestEntity.fortress" for="field_fortress">Fortress</label>
                    <select class="form-control" id="field_fortress" name="fortress" formControlName="fortress">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fortressEntityOption.id === editForm.get('fortress')!.value?.id ? editForm.get('fortress')!.value : fortressEntityOption" *ngFor="let fortressEntityOption of fortresses; trackBy: trackById">{{ fortressEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="warMakerApp.pointOfInterestEntity.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fieldEntityOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : fieldEntityOption" *ngFor="let fieldEntityOption of locations; trackBy: trackById">{{ fieldEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
