<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.pointOfInterestEntity.home.title">Point Of Interest Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-point-of-interest-entity" [routerLink]="['/point-of-interest-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.pointOfInterestEntity.home.createLabel">
            Create a new Point Of Interest Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pointOfInterestEntities?.length === 0">
        <span jhiTranslate="warMakerApp.pointOfInterestEntity.home.notFound">No pointOfInterestEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pointOfInterestEntities && pointOfInterestEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.pointOfInterestEntity.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.pointOfInterestEntity.fortress">Fortress</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.pointOfInterestEntity.location">Location</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pointOfInterestEntity of pointOfInterestEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/point-of-interest-entity', pointOfInterestEntity.id, 'view']">{{ pointOfInterestEntity.id }}</a></td>
                    <td jhiTranslate="{{ 'warMakerApp.PointOfInterestType.' + pointOfInterestEntity.type }}">{{ pointOfInterestEntity.type }}</td>
                    <td>
                        <div *ngIf="pointOfInterestEntity.fortress">
                            <a [routerLink]="['/fortress-entity', pointOfInterestEntity.fortress?.id, 'view']" >{{ pointOfInterestEntity.fortress?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="pointOfInterestEntity.location">
                            <a [routerLink]="['/field-entity', pointOfInterestEntity.location?.id, 'view']" >{{ pointOfInterestEntity.location?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/point-of-interest-entity', pointOfInterestEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/point-of-interest-entity', pointOfInterestEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pointOfInterestEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
