<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pointOfInterestEntity">
            <h2><span jhiTranslate="warMakerApp.pointOfInterestEntity.detail.title">Point Of Interest Entity</span> {{ pointOfInterestEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.pointOfInterestEntity.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'warMakerApp.PointOfInterestType.' + pointOfInterestEntity.type }}">{{ pointOfInterestEntity.type }}</span>
                </dd>
                <dt><span jhiTranslate="warMakerApp.pointOfInterestEntity.fortress">Fortress</span></dt>
                <dd>
                    <div *ngIf="pointOfInterestEntity.fortress">
                        <a [routerLink]="['/fortress-entity', pointOfInterestEntity.fortress?.id, 'view']">{{ pointOfInterestEntity.fortress?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="warMakerApp.pointOfInterestEntity.location">Location</span></dt>
                <dd>
                    <div *ngIf="pointOfInterestEntity.location">
                        <a [routerLink]="['/field-entity', pointOfInterestEntity.location?.id, 'view']">{{ pointOfInterestEntity.location?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/point-of-interest-entity', pointOfInterestEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
