<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" [disabled]="isPartySendable">
    {{warParty.id}}
</button>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div>
        <war-war-party-list [warParty]="warParty"></war-war-party-list>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-danger" (click)="confirm(warParty.id)">
                <fa-icon icon="fist-raised"></fa-icon> Confirm
            </button>
            <button type="button" class="btn btn-outline-dark" (click)="isCollapsed = !isCollapsed">
                <fa-icon icon="ban"></fa-icon> Cancel
            </button>
        </div>
    </div>
</div>