<form #warPartyForm="ngForm">
    <h2>Create War Party</h2>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label>Spearman</label>
                <input
                    [(ngModel)]="unitsList.spearman"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="spearman"
                />
            </div>
            <div class="col">
                <label>Swordsman</label>
                <input
                    [(ngModel)]="unitsList.swordsman"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="swordsman"
                />
            </div>
            <div class="col">
                <label>Axeman</label>
                <input
                    [(ngModel)]="unitsList.axeman"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="axeman"
                />
            </div>
            <div class="col">
                <label>Enforcer</label>
                <input
                    [(ngModel)]="unitsList.enforcer"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="enforcer"
                />
            </div>
            <div class="col">
                <label>Forest Warrior</label>
                <input
                    [(ngModel)]="unitsList.forestWarrior"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="forestWarrior"
                />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Archer</label>
                <input
                    [(ngModel)]="unitsList.archers"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="archer"
                />
            </div>
            <div class="col">
                <label>Crossbowman</label>
                <input
                    [(ngModel)]="unitsList.crossbowman"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="crossbowman"
                />
            </div>
            <div class="col">
                <label>Ranger</label>
                <input
                    [(ngModel)]="unitsList.ranger"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="ranger"
                />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Light Cavalry</label>
                <input
                    [(ngModel)]="unitsList.lightCavalry"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="lightCavalry"
                />
            </div>
            <div class="col">
                <label>Lancers</label>
                <input
                    [(ngModel)]="unitsList.lancers"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="lancers"
                />
            </div>
            <div class="col">
                <label>Heavy Cavalry</label>
                <input
                    [(ngModel)]="unitsList.heavyCavalry"
                    type="number"
                    class="form-control"
                    placeholder="0"
                    name="heavyCavalry"
                />
            </div>
        </div>
    </div>

    <ng-template #warPartyCreated>War Party Created</ng-template>
    <button
        type="button"
        class="btn btn-secondary btn-lg btn-block"
        triggers="manual"
        [ngbTooltip]="warPartyCreated"
        #t1="ngbTooltip"
        [autoClose]="true"
        (click)="createWarParty(t1)"
    >
        Create War Party
    </button>
</form>
