<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="allianceEntity">
            <h2><span jhiTranslate="warMakerApp.allianceEntity.detail.title">Alliance Entity</span> {{ allianceEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="warMakerApp.allianceEntity.name">Name</span></dt>
                <dd>
                    <span>{{ allianceEntity.name }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alliance-entity', allianceEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
