<div>
    <h2 id="page-heading">
        <span jhiTranslate="warMakerApp.allianceEntity.home.title">Alliance Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-alliance-entity" [routerLink]="['/alliance-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warMakerApp.allianceEntity.home.createLabel">
            Create a new Alliance Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="allianceEntities?.length === 0">
        <span jhiTranslate="warMakerApp.allianceEntity.home.notFound">No allianceEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="allianceEntities && allianceEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="warMakerApp.allianceEntity.name">Name</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let allianceEntity of allianceEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/alliance-entity', allianceEntity.id, 'view']">{{ allianceEntity.id }}</a></td>
                    <td>{{ allianceEntity.name }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/alliance-entity', allianceEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/alliance-entity', allianceEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(allianceEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
